body {
    background-color: rgba(0, 0, 0, 0.591);
}

.to-do-list {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

h1 {
    font-size: 4rem;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.613) 2px 2px 0;
}

button {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: .15s ease;
}

.add-btn {
    background-color: rgb(56, 171, 56);
}

.add-btn:hover {
    background-color: rgb(41, 134, 41);
}

.del-btn {
    background-color: rgb(171, 56, 56);
}

.del-btn:hover {
    background-color: rgb(134, 41, 41);
}

.move-btn {
    background-color: rgb(56, 108, 171);
}

.move-btn:hover {
    background-color: rgb(41, 79, 125);
}

input[type='text'] {
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid black;
    border-radius: 12px;
    color: rgb(62, 62, 62);
    font-weight: bold;
}

ol {
    padding: 0;
}

li {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: rgba(239, 239, 239, 0.718);
    margin-bottom: 10px;
    border: 3px solid rgba(0, 0, 0, 0.171);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3em
}

.text {
    flex: 1;
}

.del-btn, .move-btn {
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}